<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" >
    <test name="Test">
        <classes>
            <class name="com.lemon.day11.TestngTest" />
            <class name="com.lemon.day11.DataDrive" />
        </classes>
    </test>
    <parameter name="mobilephone" value="1333333"/>
    <parameter name="password" value="1222222"/>
</suite>